#-------------------------------------------------------------------------------
# Azure
#-------------------------------------------------------------------------------
export AZURE_SBSCRIPTION_KEY=
export AZURE_REGION=
