#-------------------------------------------------------------------------------
# App
#-------------------------------------------------------------------------------
export ADOBE_CLIENT_ID=
export ADOBE_CLIENT_SECRET=
