if [ -f .envrc.local ]; then
  source .envrc.local
fi

make_dotenv() {
  declare -a envs=( \
    AZURE_SBSCRIPTION_KEY \
    AZURE_REGION \
  )
  env | grep -E $(IFS="|"; echo "${envs[*]}") > Assets/StreamingAssets/env
}

make_dotenv
