#-------------------------------------------------------------------------------
# GCP
#-------------------------------------------------------------------------------
export GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/credentials.json
